{#
  Template for rendering a menu with nested items.

  The macro recursively generates the full menu structure, applying appropriate classes and handling child menu items.

  Available variables:
  - menu_name: The machine name of the menu.
  - items: A list of menu items, each containing title, URL, attributes, and child items.
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% set classes = ['footer-menu', 'd-flex', 'flex-wrap'] %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass(classes) }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass('footer-menu-item') }}>
        {{ link(item.title, item.url, { 'class': 'footer-menu-link' }) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
